.not-found {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    min-height: 100vh;
}

section {
    grid-column: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: center;
    text-align: center;
}

section > h1 {
    font-size: 36px;
    margin-bottom: 18px;
}

section > p {
    line-height: 22px;
}

section > button {
    margin-top: 16px;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

section > button:hover {
    background-color: #f4f4f4;
}