.profile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

h3 {
    text-align: center;
    margin: 12px 5px;
    padding-bottom: 12px;
    color: #656565;
    border-bottom: 1px solid #00000055;
}